div
    {
        color:rgb(0, 30, 120);
    }
.tree ul 
    {  
        display: none;
    }
.toptree
    {
        color:rgb(65, 65, 130);
        font-weight: bolder;
    }
.tree
    {
        color:rgb(10, 10, 130);
        font-weight: normal;
    }
.undertree
    {
        color:rgb(210, 70, 0);
        font-weight: normal;
    }
#ath_name
    {
        color:rgb(150, 50, 0);
    }
#PrintPeq
    {
        font-size: x-small;
        color:rgb(210, 70, 0);
    }
#iframe_main
    {
        width: 100%; 
        height: 100vh;
    }